---
layout: default
title: Community
permalink: /community
---

<section id="page-title" class="page-title-parallax text-light" data-stellar-background-ratio="0.9" style="background-image: url(images/parallax/14.jpg)">
	<div class="background-overlay"></div>
	<div class="container">
		<div class="page-title col-md-8">
			<h1 class="text-uppercase text-medium editable">Community Outreach</h1>
			<span class="lead editable">BCPC makes a difference in our local community</span>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="post-content post-modern col-md-8">
				<p>Bridge City Paddling Club has an active community outreach program helping and raising money for other non-profit organizations in our community.  We generally have two major events a year where we practice "competitive philantrophy" using our strong backs, team spirit, and competitive focus to help organizations such as the Special Olympics of Oregon and the Children's Cancer Association.</p>
				<div class="seperator"><span>Events</span></div>
				{% for post in site.categories.community %}
					{% include post-item.html %}
				{% endfor %}
			</div>
			<div class="sidebar sidebar-modern col-md-4">
				<div class="widget clearfix widget-archive">
					<h4 class="widget-title editable">Polar Plunge</h4>
					<p>For the Special Olympics of Oregon Polar Plunge, the BRRRidge City Polar Paddlers jump in the freezing Columbia River in February of each year.  We have raised over $59,000 over the past six years for Special Olympics.</p>
					<ul class="list-posts list-medium">
						<li>2010 - 19 participants raised $6,959</li>
						<li>2011 - 50 participants raised $7,695</li>
						<li>2012 - 59 participants raised $7,745</li>
						<li>2013 - 95 participants raised $11,510</li>
						<li>2014 - 132 participants raised $12,407</li>
						<li>2015 - 143 participants raised $12,723</li>
						<li>2016 - <a href="http://plunge.bridgecitypaddling.org">121 participants raised $11,079</a></li>
						<li>2017 - 100+ participants raised $7,960 &amp; counting</li>
					</ul>
				</div>
				<div class="widget clearfix widget-archive">
					<h4 class="widget-title editable">Dawn to Dusk</h4>
					<p>We created and sponsor the Dawn to Dusk Benefit Paddle each August. Team members and friends paddle a dragon boat from the River Place Marina around Ross Island, making 10-12 laps of six miles over the twelve hours from 8AM to 8PM on a Saturday. We also have several shorter laps for corporate teams interested in a team building activity with all proceeds going to Dawn to Dusk.</p>
					<ul class="list-posts list-medium">
						<li>2010 - Raised $5,000 for Blue Planet Network</li>
						<li>2011 - Raised $7,700 for Children's Cancer Association</li>
						<li>2012 - Raised $28,400 for Children's Cancer Association</li>
						<li>2013 - Raised $43,510 for Children's Cancer Association</li>
						<li>2014 - <a href="https://www.youtube.com/watch?v=nRHX58tWFDI">Raised $48,000 for Children's Cancer Association</a><br></span>
						</li>
						<li>2015 - Raised $45,308 for Children's Cancer Association</li>
						<li>2016 - Raised $40,651 for Children's Cancer Association</li>
					</ul>
				</div>
				<div class="widget clearfix widget-archive">
					<h4 class="widget-title editable">Archive</h4>
					<ul class="list-posts list-lines">
					  {% for post in site.categories.community %}
					    <li>
					      <a href="{{ post.url }}">{{ post.title }}</a>
					    </li>
					  {% endfor %}
					</ul>
				</div>
				<div class="widget clearfix widget-blockquote">
					<h4 class="widget-title editable">Blockquote widget</h4>
					<blockquote class="blockquote-simple editable">
						<p>Art is the only serious thing in the world. And the artist is the only person who is never serious.</p><small>by <cite>Oscar Wilde</cite></small>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>

