<footer class="background-dark text-grey" id="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-logo float-left"><img alt="" src="images/logo-sm-dark.png"></div>
          <p style="margin-top: 12px;">{{ site.description }}</p>
        </div>
      </div>
      <div class="seperator seperator-dark seperator-simple"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="widget clearfix widget-contact-us" style="background-image: url('images/world-map.png'); background-position: 50% 55px; background-repeat: no-repeat">
            <h4 class="widget-title">Contact us</h4>
            <ul class="list-large list-icons">
              <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 5822 SW Alfred Street<br>
              Portland, OR 97219</li>
              <li>
                <i class="fa fa-envelope"></i><strong>Email:</strong> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget clearfix widget-tweeter">
            <h4 class="widget-title">Recent Tweets</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget clearfix widget-newsletter">
            <form action="include/subscribe-form.php" class="form-inline" id="widget-subscribe-form" method="post" name="widget-subscribe-form" role="form">
              <h4 class="widget-title">Newsletter</h4><small>Stay informed on our latest news!</small>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span> <input aria-required="true" class="form-control required email" name="widget-subscribe-form-email" placeholder="Enter your Email" type="email"> <span class="input-group-btn"><button class="btn btn-primary" id="widget-subscribe-submit-button" type="submit"><span class="input-group-btn">Subscribe</span></button></span>
              </div>
            </form>
            <script type="text/javascript">
                  jQuery("#widget-subscribe-form").validate({
                    submitHandler: function(form) {
                      jQuery(form).ajaxSubmit({
                        dataType: 'json',
                        success: function(text) {
                          if (text.response == 'success') {
                            $.notify({
                              message: "You have successfully subscribed to our mailing list."
                            }, {
                              type: 'success'
                            });
                            $(form)[0].reset();

                          } else {
                            $.notify({
                              message: text.message
                            }, {
                              type: 'warning'
                            });
                          }
                        }
                      });
                    }
                  });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-content">
    <div class="container">
      <div class="row">
        <div class="copyright-text col-md-6">
          &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All Rights Reserved.
        </div>
        <div class="col-md-6">
          <div class="social-icons">
            <ul>
              <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="social-google">
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li class="social-pinterest">
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
              <li class="social-vimeo">
                <a href="#"><i class="fa fa-vimeo-square"></i></a>
              </li>
              <li class="social-linkedin">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li class="social-dribbble">
                <a href="#"><i class="fa fa-dribbble"></i></a>
              </li>
              <li class="social-youtube">
                <a href="#"><i class="fa fa-youtube-play"></i></a>
              </li>
              <li class="social-rss">
                <a href="#"><i class="fa fa-rss"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
