<header id="header" class="">
  <div id="header-wrap">
    <div class="container">

      <!--LOGO-->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="logo" data-dark-logo="images/logo-dark.png">
          <img src="images/logo.png" alt="{{ site.title }}">
        </a>
      </div>
      <!--END: LOGO-->

      <!--MOBILE MENU -->
      <div class="nav-main-menu-responsive">
        <button class="lines-button x">
          <span class="lines"></span>
        </button>
      </div>
      <!--END: MOBILE MENU -->

      <!--NAVIGATION-->
      <div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
        <div class="container">
          <nav id="mainMenu" class="main-menu mega-menu">
            <ul class="main-menu nav nav-pills">
              <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a></li>
              <li>
                <a class="page-link" href="/about.html">About</a>
              </li>
              <li>
                <a class="page-link" href="/community.html">Community</a>
              </li>
              <li>
                <a class="page-link" href="/gallery.html">Gallery</a>
              </li>
              <li>
                <a class="page-link" href="/practice-schedule.html">Schedule</a>
              </li>
              <li>
                <a class="page-link" href="/resources.html">Resources</a>
              </li>
              <li>
                <a class="page-link" href="/contact.html">Contact <span class="label label-danger infinit">Join Us</span></a>
            </ul>
          </nav>
        </div>
      </div>
      <!--END: NAVIGATION-->
    </div>
  </div>
</header>
