<header id="header" class="">
  <div id="header-wrap">
    <div class="container">

      <!--LOGO-->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="logo" data-dark-logo="images/logo-dark.png">
          <img src="images/logo.png" alt="{{ site.title }}">
        </a>
      </div>
      <!--END: LOGO-->

      <!--MOBILE MENU -->
      <div class="nav-main-menu-responsive">
        <button class="lines-button x">
          <span class="lines"></span>
        </button>
      </div>
      <!--END: MOBILE MENU -->

      <!--NAVIGATION-->
      <div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
        <div class="container">
          <nav id="mainMenu" class="main-menu mega-menu">
            <ul class="main-menu nav nav-pills">
              <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a></li>
              {% for my_page in site.pages %}
                {% if my_page.title %}
                <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <!--END: NAVIGATION-->
    </div>
  </div>
</header>
